<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("tickets.jpg") %>)">
  <h1>Save any kind of movies</h1>
</div>

<div class="container m-5">

  <div class="row">
    <div class="col">
      <h1>My Lists</h1>
    </div>
    <div class="col-auto">
      <%= link_to "Create a Movie List", new_list_path, class: "btn btn-success text-center text-white" %>
    </div>
  </div>

  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-md-4 mb-4">
        <div class="card" style="position: relative;">
          <%= image_tag "tickets.jpg", class: "card-img-top" %> <!-- Insérer l'image -->
          <div class="card-body" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white; width: 100%;">
            <p class="card-text" style="font-weight: bold;">
              <strong><%= link_to list.name, list_path(list), style: "color: white; text-decoration: none;" %></strong>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
