.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px; /* Ajouter de la marge en haut */
}

.card {
  width: calc(33.33% - 20px); /* Pour que chaque carte occupe environ un tiers de la largeur de l'écran avec de l'espace entre elles */
  margin-bottom: 20px; /* Ajouter de la marge en bas */
}
